.book__container {
    background-image: url("./imgs/book-bkg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.book {
    padding: 15rem 0 20rem;
}